[Desktop Entry]
Type=Application
Terminal=false
Name=AMITU
Hidden=false
NoDisplay=false
Path=$HOME/xfr/
Exec=$HOME/xfr/forms.sh
Icon=$HOME/xfr/voip.png
GenericName[en_ZA]=Asterisk AMI Transfer Tool
Comment[en_ZA]=Version -dev-00012
StartupNotify=true
X-KeepTerminal=true

